body{
    background-color: white;
    color: crimson;
}

.cat-img{
    height: 20em;
    transform: translateX(3em);
}

.upgrade-img{
    height: 6em;
}

.purchased-upgrade-img{
    height: 5em;
}

.card-size{
    height: 2em;
}
